# Basic configuration
DOCKER_REGISTRY = "registry.local"

# Advanced configuration
JENKINS_USER = "user"
JENKINS_EMAIL = "myemail@domain.tld"
JENKINS_URL = "https://jenkins.local"
JENKINS_TOKEN_NAME = "replicant"
JENKINS_API_TOKEN = "Change me"
JENKINS_JOB = "replicant"
