[Unit]
Description=Run Latest Release Script
Wants=replicant.timer

[Service]
ExecStart=/opt/replicant/.env/bin/python /opt/replicant/latest_release.py
